.ingredientsSection {
  width: 280px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  align-self: flex-start;
  overflow: hidden; 
}

.ingredientsTitle {
  margin: 0 0 15px 0;
  padding-bottom: 12px;
  border-bottom: 2px solid #3b6c55;
  font-size: 18px;
  font-weight: 700;
}

.ingredientsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
  width: 100%; /* 부모 너비에 맞춤 */
}

.ingredientItem {
  display: flex;
  justify-content: space-between; 
  padding: 5px ;
  border-bottom: 1px solid #e0e0e0;
  gap: 0; 
  width: 100%; 
  overflow: hidden; 
}

.ingredientName {
  color: #333;
  font-size: 14px;
  font-weight: 400; 
  font-family: inherit;
  overflow-wrap: break-word; 
  flex-shrink: 0; 
}

.fridgeIcon {
  margin-right: 5px; /* 아이콘과 텍스트 사이 간격 */
}

.ingredientAmount {
  color: #666;
  font-size: 14px;
  font-weight: 400; 
  font-family: inherit; 
  word-break: break-word;
  overflow-wrap: break-word; 
  text-align: right; 

}

.saveIngredientsBtn {
  width: 100%;
  padding: 12px;
  background-color: #3B6C55;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media (max-width: 1023px) {
  .ingredientsSection {
    width: 100%;
  }
  .saveIngredientsBtn {
    width: 115px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .ingredientsList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: flex-start;
  }
  
  .ingredientItem {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding: 8px 0;
  }
}

.ingredientNotice {
  display: flex; 
  align-items: center;
  font-size: 0.85em;
  color: #555;
  margin-bottom: 15px;
  padding-left: 5px;
}

.ingredientIcon { 
  color: #3B6C55;  
  marginRight: 5px; 
  verticalAlign: middle;
  margin-right: 10px;
}

.highlightText {
  color: #228B22;
  font-weight: bold;
}
