.section {
    margin-bottom: 2.5rem;
  }
  
  .sectionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
  }
  
  .sectionTitle {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  
  .addButton {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #fb9a5a;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .addButton:hover {
    color:#FFDAB9 
  }
  
  .addButton .material-symbols-outlined {
    font-size: 1rem;
  }
  
  .stepsList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .stepItem {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
  }
  
  .stepNumber {
    padding-top: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
     color: #fb9a5a;      
  }
  
  .stepContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .textarea {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;
    padding: 0.5rem 0.75rem;
  }
  
  .textarea:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: #fb9a5a;                                               
    box-shadow: 0 0 0 2px #fb9a5a; 
  }
  
  .imageUploadContainer {
    position: relative; /* 추가 */
    width: 100%;
    height: 12rem;
    background-color: #f8f9fa;
    border: 2px dashed #dee2e6;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .uploadPlaceholder {
    text-align: center;
  }
  
  .uploadButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #6c757d;
    cursor: pointer;
  }
  
  .imagePreview {
    position: absolute; /* 추가 */
    top: 0; /* 추가 */
    left: 0; /* 추가 */
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;
  }

  .imageOverlay { /* 추가 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s;
    cursor: pointer;
    z-index: 10;
  }

  .imageUploadContainer:hover .imageOverlay { /* 추가 */
    opacity: 1;
  }
  
  .deleteButton {
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    color: #6c757d;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    color:  #FFA07A;
  }